
$grey: hsl(0, 0%, 59%);
$dark:  hsl(0, 0%, 17%);
                        /* CUSTOM CLASS*/
.round{
 border-radius: 15px;
}


//-----------------------------------------------------------------

body{
    height:100vh;
    font-family: 'Rubik', sans-serif;
}


section:first-of-type{
    position: relative;
    z-index: 10;
    background-image: url("../images/pattern-bg.png");
    background-size: cover;
    background-position: center;
    height:35%;

    form > div:hover{
        cursor: pointer;
    }
    
    button{
        position:relative;
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px ;
        &:hover{
            background-color: $grey;
        }
    }
    h1{
        color:white;
        font-weight: 500;
        font-size: 1.7rem;
    }
    
    h2{
        color: $grey;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 2px;
    }
    
    p{
        color: $dark;
        font-weight: 500;
        font-size: 1.3rem;
    }

    #dataBloc{
        min-height: 145px;
    }
}

section:last-of-type{
    height:65%;
}

@media screen and (min-width: 1023px){
    section:first-of-type{
        height:30%;
    }
    section:last-of-type{
        height:70%;
    }
}
